<footer class="p-4 sm:p-6">
  <div class="mx-auto max-w-screen-xl">
    <hr class="my-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 dark:text-gray-400 sm:text-center"
        >© 2022 <a href="https://jpogran.github.io" class="hover:underline">James Pogran</a>. All Rights Reserved.
      </span>
      <div class="mt-4 flex space-x-6 sm:mt-0 sm:justify-center">
        <a href="https://github.com/jpogran" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://twitter.com/ender2025" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
