<head>
  <meta charset="utf-8" />
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ if .Site.IsServer }} {{ $seed := "weqklrjfmnk213409ufasdfhnlk3j4bladsfsl"
  }}{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }} {{ $style :=
  resources.Get "main.css" | resources.PostCSS | resources.ExecuteAsTemplate
  (printf "tailwind.dev.%s.css" $random) $random }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  {{ else }} {{ $style := resources.Get "main.css" | resources.PostCSS |
  resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  {{ end }}
  <script
    src="https://kit.fontawesome.com/a85a5852d9.js"
    crossorigin="anonymous"
  ></script>
  {{ range .AlternativeOutputFormats -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
</head>
